

/* ==========================================================================
   Application
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#app-container {
  background: #1a1a1a;
  height: 100%;
  position: absolute;
  width: 100%;
}
#nav-container {
  color: #fff;
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 999;
}
#nav-container a {
  color: #fff;
}
#nav-container ul {
  padding: 0;
}
#nav-container h1 {
  bottom: 0;
  color: #000;
  position: absolute;
  left: 0;
  text-align: center;
  text-transform: lowercase;
  width: 100%;
}
#nav-container #nav-user a {
  background: #fff;
  color: #4d4d4d;
  display: block;
  height: 41px;
  padding: 5px 14px;
}
#nav-container #nav-user img {
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  float: left;
  margin-right: 10px;
}
#nav-container #nav-user .user-name {
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 700;
  padding: 3px 0 0;
}
#nav-container #nav-user .user-status {
  display: block;
  float: left;
  font-size: 11px;
}
#nav-container #nav-tree {
  padding: 0 14px;
}
#page-container {
  height: 100%;
  padding-left: 200px;
}
#page-container #room-stream {
  background: #e5e5e5;
  height: 100%;
  left: 200px;
  position: absolute;
  right: 200px;
}
#page-container #room-stream header {
  background: rgba(170,238,238,0.85);
  height: 42px;
  position: absolute;
  width: 100%;
  z-index: 2;
}
#page-container #room-stream #message-container {
  background: #fff;
  bottom: 100px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  left: 0;
  margin: 0 14px 10px;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
#page-container #room-stream #message-container ul {
  bottom: 0;
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
#page-container #room-stream #message-compose {
  bottom: 10px;
  left: 0;
  margin: 0 14px;
  position: absolute;
  right: 0;
}
#page-container #room-stream #message-compose textarea {
  border-color: #ccc;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  display: block;
  resize: none;
  width: 100%;
}
#page-container #room-stream #message-compose #button-bank {
  background: #1a1a1a;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  color: #fff;
  height: 38px;
}
#page-container #room-stream #message-compose #button-bank button,
#page-container #room-stream #message-compose #button-bank a {
  margin: 5px;
}
#page-container #room-stream #message-compose #button-bank button {
  float: right;
}
#page-container #room-stream #message-compose #button-bank a {
  float: left;
}
#page-container #room-sidebar {
  color: #fff;
  height: 100%;
  padding: 0 14px;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}
#page-container #room-sidebar a {
  color: #fff;
}
/* ==========================================================================
   Header
   ========================================================================== */
.header {
  width: 476px;
  margin: 0 auto;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #4276b6;
}
.header-link {
  margin-right: 32px;
  text-decoration: none;
  color: #eee;
}
.header-link:visited {
  color: #eee;
}
.header-link:hover {
  text-decoration: underline;
}
.header-link:last-child {
  margin-right: 0;
}
/* ==========================================================================
   Home-page
   ========================================================================== */
.home-page {
  width: 476px;
  height: 130px;
  margin: 5px auto;
  padding: 5px;
  margin-bottom: 0.5em;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #4276b6;
}
