

/* ==========================================================================
   Application
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, san-serif;
  text-decoration: none;
}
::-webkit-input-placeholder {
    color:    #ccc;
}
:-moz-placeholder {
    color:    #ccc;
}
::-moz-placeholder {
    color:    #ccc;
}
:-ms-input-placeholder {
    color:    #ccc;
}

#app-container {
	background: #282828; /* Old browsers */
	background: -moz-linear-gradient(top, #282828 50%, #191919 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#282828), color-stop(100%,#191919)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #282828 50%,#191919 100%); /* Chrome10+,Safari5.1+ */
  height: 100%;
  position: absolute;
  width: 100%;
}
#nav-container {
	border-left: 4px solid #333;
	box-shadow: inset 1px 0 2px rgba(0,0,0,.4);
  color: #fff;
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 999;
}
#nav-container a {}

#nav-container ul,
#room-sidebar ul {
  padding: 0 0 5px;
  line-height: 18px;
  list-style: none;
}

#nav-container h1 {
	background: url('../assets/Harbor-logo.png') 40% 50% no-repeat;
  bottom: 0;
  color: #000;
  position: absolute;
  left: 0;
  text-align: center;
	text-indent: -999px;
  text-transform: lowercase;
  width: 100%;
}
#nav-container #nav-user a {
  	background: #fdfdfd; /* Old browsers */
	background: -moz-linear-gradient(top, #fdfdfd 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fdfdfd 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	border-left: 4px solid #fff;
	box-shadow: inset 1px 0 2px rgba(0,0,0,.4);
  color: #4d4d4d;
  display: block;
  height: 41px;
  margin-left: -4px;
  padding: 5px 14px;
}

#nav-tree a.btn-add {
	background: #1a1a1a url('../assets/icons/action-add-round.png') 13px 50% no-repeat;
	border-radius: 5px;
	box-shadow: inset 0 1px 4px rgba(0,0,0,.25);
	color: #808080;
	display: block;
	font-size: .6em;
	letter-spacing: 1px; 
	margin: 10px 5px;
	padding: 8px 0 8px 34px;
	text-transform: uppercase;
}

a.user-badge,
a.asset-badge { line-height: 12px; z-index: 1; }

.user-badge .user-avatar,
.asset-badge .asset-avatar {
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  float: left;
  margin-right: 10px;
}

.user-badge .user-name,
a.asset-badge .asset-name {
  /*display: block;
  float: left;*/
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0 0;

	left: 54px;
	padding: 4px 0 0;
	position: absolute;
	right: 14px;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.user-badge .user-info,
.asset-badge .asset-info {
  /*display: block;
  float: left;*/
  font-size: 11px;

	left: 54px;
	position: absolute;
	right: 14px;
	top: 22px;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.user-badge .user-meta {
	position: absolute;
	right: 14px;
}


.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -5px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-primary.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #013f3f;
  *background-color: #013f3f;
  background-image: -moz-linear-gradient(top, #117f7f, #013f3f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#117f7f), to(#013f3f));
  background-image: -webkit-linear-gradient(top, #117f7f, #013f3f);
  background-image: -o-linear-gradient(top, #117f7f, #013f3f);
  background-image: linear-gradient(to bottom, #117f7f, #013f3f);
  background-repeat: repeat-x;
  border-color: #013f3f #013f3f #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff117f7f', endColorstr='#ff013f3f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #013f3f;
  *background-color: #2a85a0;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #24748c \9;
}


.btn-inverse {
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #1a1a1a;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
	color: #ffffff;
	background: #4d4d4d;
	box-shadow: inset 0 -1px 4px rgba(0,0,0,.5);
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #4d4d4d \9;
}

.btn-attach { float: left; }

.btn-settings { background: url('../assets/icons/action-settings.png') 50% 50% no-repeat; }
.btn-add      { background: url('../assets/icons/action-add.png') 50% 50% no-repeat; }
.btn-search   { background: url('../assets/icons/action-search.png') 50% 50% no-repeat; }


.accordian { padding: 0 }
.accordian a {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.accordian ul { margin: 0 }

.accordian .accordian-segment { clear: both; min-height: 0; position: relative; }

.accordian .accordian-header {
	background: #000; 
	background: #282828; /* Old browsers */
	background: -moz-linear-gradient(top, #282828 0%, #1a1a1a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#282828), color-stop(100%,#1a1a1a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #282828 0%,#1a1a1a 100%); /* Chrome10+,Safari5.1+ */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), inset 1px 0 2px rgba(0,0,0,.4);
	color: #ccc; 
	display: block; 
	font-size: .6em; 
	letter-spacing: 1px; 
	line-height: 38px;
	padding: 2px 40px 0 14px;
	position: relative;
	text-transform: uppercase;
	z-index: 9999;
}

.accordian .accordian-header .accordian-icon { 
	margin: -2px 8px 0 0;
	vertical-align: middle; 
}
.accordian .accordian-header small {
	color: #808080;
	font-size: 1em;
}

.accordian .accordian-action {
	overflow: hidden;
	position: absolute; 
	text-indent: -999px; 
	top: 12px; 
	right: 14px; 
	float: right; 
	width: 20px;
	z-index: 9999;
}
.accordian .accordian-action:hover { opacity: .7 }

.accordian .accordian-content { display: inline-block; min-height: 0; width: 100%; }
.accordian .accordian-item { display: block; min-height: 0; width: 100%; }
.accordian .accordian-item a {
	clear: both;
	display: inline-block; 
	letter-spacing: -.5px; 
	min-height: 0;
	padding: 7px 40px 5px 14px;
	position: relative;
	width: 100%;
}
.accordian .accordian-segment:after,
.accordian .accordian-content:after,
.accordian .accordian-item:after,
.accordian .accordian-item a:after { clear: both; content: '.', display: block; height: 0; visibility: hidden; }

.accordian .accordian-item-title {
	color: #808080; 
	display: block; 
	font-size: 13px; 
	font-weight: 700;
}
.accordian .accordian-item-count {
	background: #1a1a1a;
	border-radius: 5px;
	box-shadow: inset 0 1px 4px rgba(0,0,0,.25);
	color: #d7d7d7; 
	font-size: .6em; 
	font-weight: normal; 
	line-height: 16px; 
	min-width: 20px; 
	padding: 0 4px; 
	position: absolute; 
	right: 14px; 
	top: 7px; 
	text-align: center;
}
#nav-tree .accordian-content .active .accordian-item-title,
#nav-tree .accordian-content .active .accordian-item-count { color: #fff !important; }
#nav-tree .accordian-content .active .accordian-item-count:after {
	content: url('../assets/nav-tree_active.png');
	position: absolute;
	z-index: 999;
	right: -16px;
}
.accordian .accordian-item a:hover .accordian-item-title,
.accordian .accordian-item a:hover .accordian-item-count { color: #ccc}



#page-container {
  height: 100%;
  padding-left: 200px;
}
#page-container #room-stream {
  background: #e5e5e5;
  height: 100%;
  left: 200px;
  position: absolute;
  right: 200px;
}
#page-container #room-stream header {
  background: rgba(140,240,240,0.85);
  height: 42px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

#room-stream #stream-activity,
#room-stream #stream-filter,
#room-stream #stream-settings {
	top: 6px;
	height: 28px;
	position: absolute;
}

#room-stream #stream-activity { 
	border-right: 1px solid rgba(0,0,0,.1); 
	left: 14px;
	padding-right: 6px;
}
#room-stream #stream-filter {
	left: 56px;
	right: 55px;
}
#room-stream #stream-settings {
	border-left: 1px solid rgba(0,0,0,.1); 
	right: 14px;
	padding-left: 6px;
}

#room-stream #stream-filter form {
	left: 100px;
	position: absolute;
	right: 28px;
}
#room-stream #stream-filter input {
	background: #fff url('../assets/icons/stream-search.png') 4px 4px no-repeat;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.25);
	display: block;
	font-size: 12px;
	font-weight: 200;
	padding: 7px 0 5px 24px;
	text-transform: uppercase;
	width: 100%;
}


#room-stream #stream-filter a { margin-right: 5px; }

#room-stream header a {
	background-color: rgba(0,0,0,.1);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 4px;
	display: block;
	float: left;
	height: 28px;
	width: 28px;
}
#room-stream a.active,
#room-stream a:hover {
	background-color: rgba(0,0,0,.25);
}
#room-stream .btn-stream-activity { background-image: url('../assets/icons/stream-activity.png'); }
#room-stream .btn-stream-all      { background-image: url('../assets/icons/stream-all.png'); }
#room-stream .btn-stream-media    { background-image: url('../assets/icons/stream-media.png'); }
#room-stream .btn-stream-attach   { background-image: url('../assets/icons/stream-attach.png'); }
#room-stream .btn-stream-settings { background-image: url('../assets/icons/stream-settings.png'); }

#page-container #room-stream #conversation {
	background: #fff;
	bottom: 105px;
	box-shadow: 0 0 1px rgba(0,0,0,0.25);
	left: 14px;
	position: absolute;
	right: 14px;
	top: 0;
	z-index: 1;
}
#page-container #room-stream #message-container {
	bottom: 0;
	left: -14px;
	overflow-y: scroll;
	padding: 0 14px;
  	position: absolute;
	right: -14px;
	top: 0;
  
}
#page-container #room-stream #message-container ul {
	bottom: 0;
	color: #4d4d4d;
 	font-size: .9em;
	list-style: none;
	margin: 0;
	padding: 0 0 20px;
}
#message-container li.message {
	padding: 10px 10px 0 30px;
}
#message-container li.message * {
	font-family: Arial, sans-serif;
}

#message-container li.message .message-author { 
	border-top: 1px solid #e5e5e5; 
	height: 10px; 
	line-height: 1.3em;
	margin: 10px 0 0; 
	position: relative; 
}
#message-container li.message .message-author .user-avatar {
	border: 2px solid #fff;
	border-radius: 4px;
	left: -38px;
	position: absolute;
	top: -12px;
}
#message-container li.message .message-author .user-name,
#message-container li.message .message-author .user-meta {
	background: #fff;
	position: absolute;
	top: -10px;
}
#message-container li.message .message-author .user-name { 
	color: #a6a6a6;
	font-size: .8em;
	font-weight: 700;
	left: 0; padding-right: 5px; 
}
#message-container li.message .message-author .user-meta { 
	color: #ccc;
	font-size: .75em;
	right: 0; padding-left: 5px; 
}
#message-container li.message .message-author .user-meta img {
	vertical-align: middle;
}

#message-container li.message .message-content {
	font-size: 13px;
	font-weight: 500;
	line-height: 1.6em;
	padding: 0 20px 0 0;
}


#page-container #room-stream #message-compose {
  bottom: 10px;
  left: 0;
  margin: 0 14px;
  position: absolute;
  right: 0;
}
#page-container #room-stream #message-compose textarea {
  border: 1px #ccc solid;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.25);
  display: block;
  font-size: 14px;
  height: 44px;
  padding: 5px 8px;
  resize: none;
  width: 100%;
}
#page-container #room-stream #message-compose #button-bank {
  background: #1a1a1a;
  background-color: #282828;
  *background-color: #282828;
  background-image: -moz-linear-gradient(top, #303030, #1a1a1a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#303030), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #303030, #1a1a1a);
  background-image: -o-linear-gradient(top, #303030, #1a1a1a);
  background-image: linear-gradient(to bottom, #303030, #1a1a1a);
  background-repeat: repeat-x;

  border-radius: 0 0 8px 8px;
  color: #fff;
  height: 42px;
}
#page-container #room-stream #message-compose #button-bank button,
#page-container #room-stream #message-compose #button-bank a { margin: 5px }
#page-container #room-stream #message-compose #button-bank button {
  float: right;
  width: 100px;
}
#message-compose #button-bank a {
  float: left;
  width: 100px;
}
#message-compose #button-bank label { 
	color: #808080; 
	float: left; 
	font-size: 12px; 
	margin: 14px 0 0 5px;
}
#message-compose #button-bank label input[type=checkbox] { opacity: .5 }
#message-compose #button-bank label input[type=checkbox]:checked { opacity: 1 }

#page-container #room-sidebar {
	border-right: 4px solid #333;
	box-shadow: inset -1px 0 2px rgba(0,0,0,.4);
	color: #fff;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
}

#room-sidebar .widget .user-badge { border-top: 1px solid #444; padding-right: 14px; }
#room-sidebar .widget .asset-badge { padding: 7px 14px 0; }
#room-sidebar .widget .user-avatar,
#room-sidebar .widget .asset-avatar { border: 1px solid transparent }


#room-sidebar .widget .user-badge .status-warning {
box-shadow: 2px 2px 0 #faa732;
border-color: #faa732;
}
#room-sidebar .widget .user-badge .status-away {
box-shadow: 2px 2px 0 #dd514c;
border-color: #dd514c;
}
#room-sidebar .widget .user-badge .user-name { right: 35px }
#room-sidebar .widget .user-badge .user-info { top: 25px }
#room-sidebar .widget .user-badge:hover .user-info .status-time { }
#room-sidebar .widget .user-badge:hover .user-info .status-text { color: #ccc; display: block; }
#room-sidebar .widget .user-badge .user-info .status-text,
#room-sidebar .widget .user-badge:hover .user-info .status-time { display: none; }

#room-sidebar .widget .asset-badge .asset-avatar { opacity: .5 }
#room-sidebar .widget .asset-badge .asset-name { color: #808080 }
#room-sidebar .widget .asset-badge .asset-info { color: #808080; top: 24px; }

#room-sidebar .widget .asset-badge:hover .asset-avatar { opacity: 1 }
#room-sidebar .widget .asset-badge:hover .asset-name { color: #ccc }
#room-sidebar .widget .asset-badge:hover .asset-info { color: #999 }

.status-time {
	background-color: #4d4d4d;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(0, 0, 0, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.15)), color-stop(0.75, rgba(0, 0, 0, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 10px 10px;
     -moz-background-size: 10px 10px;
       -o-background-size: 10px 10px;
          background-size: 10px 10px;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 8px;
  margin: 3px 0 0;
  overflow: hidden;
}

.status-time .bar {
	border-radius: 2px;
	color: #ffffff;
	
	float: left;
	font-size: 12px;
	height: 8px;
	left: 0;  /* SET LEFT */
	position: absolute;
	width: 0; /* SET WIDTH */
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	
  background-color: #a7a7a7;
  background-image: -moz-linear-gradient(top, #d7d7d7, #a7a7a7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d7d7d7), to(#a7a7a7));
  background-image: -webkit-linear-gradient(top, #d7d7d7, #a7a7a7);
  background-image: -o-linear-gradient(top, #d7d7d7, #a7a7a7);
  background-image: linear-gradient(to bottom, #d7d7d7, #a7a7a7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}

.status-time .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}

.progress-danger .bar,
.status-time .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}

.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-success .bar,
.status-time .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}

.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-info .bar,
.status-time .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}

.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-warning .bar,
.status-time .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}